

<div class="container center-align">

	<h1>Eat-Da-Burger!</h1>


<form class="create-form">

  <div class="form-group">
    <label for="ca">New Burger</label>
    <input type="text" id="addBurgerInput" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Enter a burger you want to eat Click the Submit Button</label><br>
  </div>

  <button id="addBurger" class="btn" type="submit">Add Burger</button>
</form>




<div class="row">
  <div class="col s6">
    <h2>Fresh Burgers</h2>
      <ul>
        {{#each burgers}}
        <li>
          <p>
            {{this.burger_name}}. {{this.devoured}}

            <button class="change-burger" data-id="{{this.id}}" dataDevoured="{{this.devoured}}">Devour Burger!</button>
          </p>
        </li>
        {{/each}}
      </ul>
  </div>
  <div class="col s6">
    <h3>Devoured Burgers</h3>
      <ul>
      {{#each burgers}}
      <li>
        {{#if this.devoured}}
          {{this.burger_name}}
        {{/if}}
        </li>
      {{/each}}
      </ul>
  </div>
</div>








</div>
